﻿@model QLSach.Models.ShoppingCartItem
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerDefault.cshtml";
}

<div class="center_content">
    <div class="center_title_bar">Thông tin đặt hàng</div>
@Html.ValidationMessage("fail")
<form action="/ShoppingCart/SaveOrder" method="post">
    <input type="hidden" value="@Session["makh"]" name="makh" />
    <table width="500" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td width="150" height="80"><div style="text-align:center">Tên khách hàng</div></td>
            <td><div style="text-align:center">@Session["username"]</div></td>
        </tr>
        <tr>
            <td width="150" height="50"><div style="text-align:center">Địa chỉ giao</div></td>
            <td><div style="text-align:center"><input type="text" name="diachigiao" /></div></td>
        </tr>
        <tr>
            <td colspan="2"><div style="text-align:center"><input type="submit" name="dathang" value="Đặt hàng" /></div></td>
        </tr>
    </table>
</form>
</div>
