﻿@model IEnumerable<QLSach.Models.Sach>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_CustomerDefault.cshtml";
    }

<script src=" ~/Scripts/jquery-2.1.4.intellisense.js"></script>
<script src=" ~/Scripts/jquery-2.1.4.js"></script>
<script src=" ~/Scripts/jquery-2.1.4.min.js"></script>

<script type="text/javascript">
    function AddToCart(id) {
        $.post("/ShoppingCart/AddToCart", { "id": id },
        function (data) {
            if (data.Code == '0') {
                load();
                alert('Thêm sản phẩm vào giỏ hàng thành công');
            }
        });
        return false;
    };
    function load() {
        $.post("http://localhost:2196/ShoppingCart/InformationCart",
        function (data) {
            var str="";
            str += data.Item + " sản phẩm" + "<br />";
            str += "<span class='border_cart'>" + "</span>" + " Tổng: " + "<span class='price'>" + data.Total + " VND" + "</span>"
            $("#result").html(str);
        });
    };
</script>

    <div class="center_content">
        <div class="center_title_bar">Sách mới</div>
        @foreach (var item in Model)
        {
            <div class="prod_box">
                <div class="top_prod_box"></div>
                <div class="center_prod_box">
                    <div class="product_title">@Html.DisplayFor(modelItem => item.TenSach)</div>
                    <div class="product_img"><img src="@Url.Content("~/assets/product/")@Html.DisplayFor(modelItem => item.AnhBia)" width="100" height="150" alt="" border="0" /></div>
                    <div class="prod_price"> <span class="price">@Html.DisplayFor(modelItem => item.Gia)</span></div>
                </div>
                <div class="bottom_prod_box"></div>
                <div class="prod_details_tab"> <a title="header=[Add to cart] body=[&nbsp;] fade=[on]" onclick="AddToCart(@item.MaSach);"><img src="/assets/customer/images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/assets/customer/images/favs.gif" alt="" border="0" class="left_bt" /></a> <a href="#" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/assets/customer/images/favorites.gif" alt="" border="0" class="left_bt" /></a> <a href="/Sach_Customer/Details/@item.MaSach" class="prod_details">Chi tiết</a> </div>
            </div>
        }
        <div class="center_title_bar">Sách bán chạy</div>
        @foreach (var item in (List<QLSach.Models.Sach>) @ViewData["sach"])
        {
            <div class="prod_box">
                <div class="top_prod_box"></div>
                <div class="center_prod_box">
                    <div class="product_title">@item.TenSach</div>
                    <div class="product_img"><img src="@Url.Content("~/assets/product/")@item.AnhBia" width="100" height="150" alt="" border="0" /></div>
                    <div class="prod_price"> <span class="price">@item.Gia</span></div>
                </div>
                <div class="bottom_prod_box"></div>
                <div class="prod_details_tab"> <a title="header=[Add to cart] body=[&nbsp;] fade=[on]" onclick="AddToCart(@item.MaSach);"><img src="/assets/customer/images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/assets/customer/images/favs.gif" alt="" border="0" class="left_bt" /></a> <a href="#" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/assets/customer/images/favorites.gif" alt="" border="0" class="left_bt" /></a> <a href="/Sach_Customer/Details/@item.MaSach" class="prod_details">Chi tiết</a> </div>
            </div>
        }
</div>

