﻿@model QLSach.Models.DonHang_NCC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Chi tiết đơn hàng</h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-donHangNCC">
                        <thead>
                            <tr>
                                <th>Ngày giao</th>
                                <th>Số lượng</th>
                                <th>Tình trạng</th>
                                <th>Tổng tiền</th>
                                <th>Mã hợp đồng</th>
                                <th>Tên sách</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.NgayGiao)</td>
                                <td>@Html.DisplayFor(model => model.SoLuong)</td>
                                <td>@Html.DisplayFor(model => model.TinhTrang)</td>
                                <td>@Html.DisplayFor(model => model.TongTien)</td>
                                <td>@Html.DisplayFor(model => model.MaHopDong)</td>
                                <td>@Html.DisplayFor(model => model.Sach.TenSach)</td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <button class="btn btn-default">@Html.ActionLink("Sửa", "Edit", new { id = Model.MaDonHang })</button>
                                    |
                                    @Html.ActionLink("Quay lại", "Index")
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
</div>
