﻿@model QLSach.Models.DonHang_NCC

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Chỉnh sửa thông tin đơn hàng
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Đơn hàng nhà cung cấp</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.MaDonHang)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaSach, "MaSach", new { @class = "control-label col-lg-3" })
                                    <div class="col-lg-7">
                                        @Html.DropDownList("MaSach", null, String.Empty, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaSach)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NgayGiao, new { @class = "control-label col-lg-3" })
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.NgayGiao, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NgayGiao)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SoLuong, new { @class = "control-label col-lg-3" })
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SoLuong)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TinhTrang, new { @class = "control-label col-lg-3" })
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.TinhTrang, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TinhTrang)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TongTien, new { @class = "control-label col-lg-3" })
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.TongTien, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TongTien)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaHopDong, new { @class = "control-label col-lg-3" })
                                    <div class="col-lg-7">
                                        @Html.TextBoxFor(model => model.MaHopDong, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaHopDong)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-lg-7">
                                        <input type="submit" value="Lưu" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
