﻿@model QLSach.Models.ChiTietHopDong

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Thêm chi tiết hợp đồng
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaHopDong, "Mã HD", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("MaHopDong", String.Empty)
                                        @Html.ValidationMessageFor(model => model.MaHopDong)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MaSach, "Tên sách", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("MaSach", String.Empty)
                                        @Html.ValidationMessageFor(model => model.MaSach)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DonGia, "Giá bán", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DonGia)
                                        @Html.ValidationMessageFor(model => model.DonGia)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Thêm" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
