﻿@model PagedList.IPagedList<QLSach.Models.ChiTietHopDong>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div><a href="/Admin/ChiTIetHopDong/Create"><p align="center" style="font-size:23px; margin-top:6px; border:solid 1px black">Thêm</p></a></div>
            <div class="panel-heading">
                <h3>Chi tiết hợp đồng</h3>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-donHangNCC">
                        <thead>
                            <tr>
                                <th>Mã HĐ</th>
                                <th>Tên sách</th>
                                <th>Giá bán</th>
                                <th>Công cụ</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaHopDong</td>
                                    <td>@item.Sach.TenSach</td>
                                    <td>@item.DonGia</td>
                                    <td>
                                        @Html.ActionLink("Xóa", "Delete", new { MaHD = item.MaHopDong, MaSach = item.MaSach })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="panel-body">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { id=@Model.FirstOrDefault().MaHopDong, page }))
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
