﻿@model QLSach.Models.DonHang_KH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Danh sách đơn hàng khách hàng</h3>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-donHangNCC">
                        <thead>
                            <tr>
                                <th>Ngày giao</th>
                                <th>Địa chỉ giao</th>
                                <th>Tình trạng</th>
                                <th>Tổng tiền</th>
                                <th>Ngày lập</th>
                                <th>Đã thanh toán</th>
                                <th>Tên khách hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.NgayGiao)</td>
                                <td>@Html.DisplayFor(model => model.DiaChiGiao)</td>
                                <td>@Html.DisplayFor(model => model.TinhTrang)</td>
                                <td>@Html.DisplayFor(model => model.TongTien)</td>
                                <td>@Html.DisplayFor(model => model.NgayLap)</td>
                                <td>@Html.DisplayFor(model => model.DaThanhToan)</td>
                                <td>@Html.DisplayFor(model => model.KhachHang.HoTen)</td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.MaDonHang })</button>
                                    |
                                    @Html.ActionLink("Quay lại", "Index")
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>