﻿@model QLSach.Models.Sach

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Chỉnh sửa thông tin sách
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.MaSach)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TenSach, "Tên sách", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TenSach)
                                        @Html.ValidationMessageFor(model => model.TenSach)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MoTa, "Mô tả", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MoTa)
                                        @Html.ValidationMessageFor(model => model.MoTa)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DanhMuc, "DanhMuc", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("DanhMuc", String.Empty)
                                        @Html.ValidationMessageFor(model => model.DanhMuc)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gia, "Giá", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Gia)
                                        @Html.ValidationMessageFor(model => model.Gia)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SoLuongTon,"Só lượng tồn", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.SoLuongTon)
                                        @Html.ValidationMessageFor(model => model.SoLuongTon)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NamSanXuat, "Năm sản xuất", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NamSanXuat)
                                        @Html.ValidationMessageFor(model => model.NamSanXuat)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.NhaXuatBan, "Nhà xuất bản", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.NhaXuatBan)
                                        @Html.ValidationMessageFor(model => model.NhaXuatBan)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TacGia, "Tác giả", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TacGia)
                                        @Html.ValidationMessageFor(model => model.TacGia)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.AnhBia, "Ảnh", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.AnhBia)
                                        @Html.ValidationMessageFor(model => model.AnhBia)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SoLuongCan, "Số lượng cần", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.SoLuongCan)
                                        @Html.ValidationMessageFor(model => model.SoLuongCan)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TinhTrang,"Tình trạng", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TinhTrang)
                                        @Html.ValidationMessageFor(model => model.TinhTrang)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Lưu" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
