﻿@model QLSach.Models.TaiKhoan

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}
<script src=" ~/Scripts/jquery-2.1.4.intellisense.js"></script>
<script src=" ~/Scripts/jquery-2.1.4.js"></script>
<script src=" ~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    function Check() {
        if($('#name').val()=="")
        {
            alert('Nhập tên đăng nhập');
            return false;
        }
        else
        {
            $.post("/TaiKhoan/CheckName", { "name": $('#name').val() },
            function (data) {
                if (data.Code == '1') {
                    alert('Tên đăng nhập trùng');
                    return false;
                }
                return true;
            });
        }
    };
    function Check1() {
        if($('#name').val()=="" || $('#pass').val()=="" || $('#nguoidung').val()=="")
        {
            alert("Chưa nhập đầy đủ thông tin");
            return false;
        }
        return true;
    };
</script>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Thêm tài khoản
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <form action="/TaiKhoan/Create" method="post">
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        <div class="control-label col-md-2">Tên đăng nhập</div>
                                        <div class="col-md-10">
                                            <input id="name" type="text" name="TenDangNhap" onchange=" Check();" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-md-2">Mật khẩu</div>
                                        <div class="col-md-10">
                                            <input id="pass" type="password" name="MatKhau" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-md-2">Trạng thái</div>
                                        <div class="col-md-10">
                                            <select name="TrangThai">
                                                <option>True</option>
                                                <option>False</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-md-2">Quyền</div>
                                        <div class="col-md-10">
                                            <select name="Quyen">
                                                <option>Customer</option>
                                                <option>Business</option>
                                                <option>Admin</option>
                                                <option>Employee</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-md-2">Người dùng</div>
                                        <div class="col-md-10">
                                            <input id="nguoidung" type="number" name="MaNguoiDung" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Thêm" class="btn btn-default" onclick="return Check1();" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>