﻿@model PagedList.IPagedList<QLSach.Models.KhaNangCungCap>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div><a href="/Admin/NhaCungCap/Create"><p align="center" style="font-size:23px; margin-top:6px; border:solid 1px black">Thêm</p></a></div>
            <div class="panel-heading">
                <h3>Khả năng cung cấp</h3>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-donHangNCC">
                        <thead>
                            <tr>
                                <th>Mã NCC</th>
                                <th>Mã sách</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaNCC</td>
                                    <td>@item.Sach.TenSach</td>
                                    <td>@item.Soluong</td>
                                    <td>@item.DonGia</td>
                                    <td>
                                        <a href="/Admin/KhaNangCungCap/Delete/?MaNCC=@item.MaNCC&&MaSach=@item.MaSach">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="panel-body">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>